{
    "parser": "typescript-eslint-parser",

    "extends": [
        "eslint:recommended", "typescript", "typescript/prettier"
    ],

    "env": {
        "node": true
    },

    "globals": {
    },

    "rules": {
        "array-bracket-spacing": ["error", "never"],
        "curly": "error",
        "indent": ["error", 4, { "SwitchCase": 1 }],
        "no-cond-assign": [2, "except-parens"],
        "no-unused-vars": [1, {"vars": "local", "args": "none"}],
        
        "default-case": "error",
        "no-console": "error",

        "no-else-return": 0,
        "no-empty": "error",
        "no-multi-spaces": "error",
        "no-var": "error",
        "prefer-rest-params": 0,
        "prefer-spread": 0,

        "rest-spread-spacing": ["error", "never"],

        "prettier/prettier": [
            "error",
            {
                "singleQuote": true,
                "printWidth": 120,
                "tabWidth": 4
            }
        ],
        "typescript/interface-name-prefix": 0,
        "typescript/explicit-member-accessibility": 0
    },

    "parserOptions": {
        "sourceType": "module"
    },

    "plugins": [
    ]
}