lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
.DS_Store
*~
.vscode

# we generate lib and es2015 dir from transpiled src/
es6
es2015
lib 
dist
build
temp
pids
logs
results
var/test
purgatory
node_modules
npm-debug.log
*.sublime-project
*.sublime-workspace
test-old
bin/old_test
TODO.md
coverage
.nyc_output
