*~
lib-cov
*.seed
*.log
*.csv
*.dat
*.out
*.pid
*.gz
*.sublime-project
*.sublime-workspace

pids
logs
results

bin/
doc/
error_log/
old/
packages/
src/
temp/
test/
var/

lib/fs_entity_set
lib/purgatory

gulpfile.js
TODO.md
NOTES.md

.vscode
yarn.lock
jsconfig.json
test.html
rollup*
.babelrc
.eslintrc